@font-face {
  font-family: "GeistVF";
  src: url("/fonts/GeistVF.woff") format("woff");
}

.content-sandbox {
  /****** Custom styling by dev *********/

  &,
  & *:not(img):not(iframe):not(video):not(table) {
    all: revert;
  }

  iframe,
  img {
    height: auto;
    max-width: 100%;
    border: none;
    display: inline-block;
    vertical-align: bottom;
  }

  table td,
  table th {
    padding: 6px !important;
  }

  /*:::::: End Custom styling by Dev ::::::*/

  /************ CSS Styling must match /tinymce.skins/content/default/content.min.css **********/

  font-family: "GeistVF", ospace;
  line-height: 1.4;
  margin: 0;

  table {
    border-collapse: separate;
  }
  table:not([cellpadding]) td,
  table:not([cellpadding]) th {
    padding: 0.4rem !important;
  }
  table[border]:not([border="0"]):not([style*="border-width"]) td,
  table[border]:not([border="0"]):not([style*="border-width"]) th {
    border-width: 1px;
  }
  table[border]:not([border="0"]):not([style*="border-style"]) td,
  table[border]:not([border="0"]):not([style*="border-style"]) th {
    border-style: solid;
  }
  table[border]:not([border="0"]):not([style*="border-color"]) td,
  table[border]:not([border="0"]):not([style*="border-color"]) th {
    border-color: #ccc;
  }
  figure {
    display: table;
    margin: 1rem auto;
  }
  figure figcaption {
    color: #999;
    display: block;
    margin-top: 0.25rem;
    text-align: center;
  }
  hr {
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 0 0 0;
  }
  code {
    background-color: #e8e8e8;
    border-radius: 3px;
    padding: 0.1rem 0.2rem;
  }
  .mce-content-body:not([dir="rtl"]) blockquote {
    border-left: 2px solid #ccc;
    margin-left: 1.5rem;
    padding-left: 1rem;
  }
  .mce-content-body[dir="rtl"] blockquote {
    border-right: 2px solid #ccc;
    margin-right: 1.5rem;
    padding-right: 1rem;
  }

  /*::::::::::::: End of CSS Styling must match /tinymce.skins/content/default/content.min.css :::::::::::::*/

  /****** CSS for rendering TinyMCE content outside the editor *****/
  //Link: https://www.tiny.cloud/docs/tinymce/latest/editor-content-css/

  /*
* For rendering images inserted using the image plugin.
* Includes image captions using the HTML5 figure element.
*/

  /*::::::: End of CSS for rendering TinyMCE content outside the editor :::::*/
}
